* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', 'Arial';
  background: linear-gradient(0deg, #f6f2ff, #f6f2ff), #fbfaff;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1182px;
}
